#imgId {
    width:300px;
    text-align: center;
}
#divTitulo{
    border-style:none;
}
h1{
    color: navy;
    text-align: center;
}
h3 {
    color: darkslateblue;
    text-align: center;
}
h4 {
    color: darkblue;
}
img {
    width:35px;
    text-align: center
}
div {
    border-color: teal;
    border-width: 3px;
    border-style:ridge;
    padding: 10px;
    max-width: 600px;
    margin: 0 auto;
}